.first{

    text-align: left;
    border-radius:20px;

}
h1{
   font-size: 100px;
  color:aqua;
   text-align: center;
    margin-top: 50px;
    animation: h1 2s;
    background-color: darkgray;
    margin-left:39%;
    margin-right:39% ;
    padding: 5px
 border-radius:15px;
 border:5px solid aqua;
}



@keyframes h1{
    0%{
transform: translateX(200%);
border: 5px solid lightblue;
color: blue;
opacity: 0;

    }
    
    100%{
        transform: translateX(0);
        border: 5px solid aqua;
        color: aqua;
     
      
    }

}











img{
    margin-top:30px;
    border:10px solid darkgray;
    border-radius:20px;
    text-align: center;
    animation:why 2s  ;
    filter: blur(10px);
}









@keyframes why{
    0%{
transform: translateX(-200%);
opacity: 0;
    }
    
    100%{
        transform: translateX(0);
    }

}
.back{
    background-color:white;
    font-size:30px;
    text-align: center;
 
margin-top: 100px;
    margin-left:43%;
    margin-right:43%;
    border-radius:10px;
    padding: 20px;
    animation: back 2s infinite;
    animation: slide 2s;
  

}



@keyframes slide{
    0%{
transform: translateY(-300%);
opacity: 0;
    }
    
    100%{
        transform: translateY(0);
    }

}





@keyframes back{
    0%{
border:5px solid black;
    }
    50%{
        border:5px solid aqua;
    }
    100%{
        border:5px solid black;
    }

}






.second{

    text-align: center;
color: white;  


}
h2{

    font-size:50px;
    animation: h2 2s;
    color: aqua;
    border:5px solid aqua;
    background-color: darkgray;
    margin-left:40%;
    margin-right:40% ;
    padding: 5px;
    border-radius: 10px;
}


@keyframes h2{
    0%{
transform: translateX(-200%);
opacity: 0;
    }
    
    100%{
        transform: translateX(0);
    }
}
body{
    background-image:url( poco.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    height: 100vh;
    
}
a{
    color:black;
    font-size: 30px;
    text-decoration: none;
    margin-top: 40px;
    
}
.back:hover{
   
    scale: 1.1;
    transition: 0.1s;
   
    background: var(--clr);
    letter-spacing: 2px;
    box-shadow: 10 0 35px var(--clr);
    background-color: aqua;
 
}
.box{

    background-color: black;
}
img:hover{
   filter: blur(0);
}